// // 
// // _progress.scss
// // 

// // Progress height small
// .progress-sm {
//   height: 5px;
// }


// // Progress height medium
// .progress-md {
//   height: 8px;
// }


// // Progress height large
// .progress-lg {
//   height: 12px;
// }

// // Progress height Extra large
// .progress-xl {
//   height: 16px;
// }
.progress {
  display: flex;
  //height: 0.625rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.70313rem;
  background-color: #f0eff5;
  //border-radius: 0.25rem;
}