.island-tabs-sel{ 
    border-bottom:4px solid  $sec-brand; 
    font-family:$secondary-text;
    font-size: 16px;
    font-weight: 200 !important;
    color:$sec-brand;
    height:40px;
    
}

.island-tabs { 
    border-bottom:none;
    font-family:$secondary-text;
    font-size: 16px;
    font-weight: 200 !important;
    color:$black;
    
}