.modal-content {
    border-radius:15px;
    outline: 0;
}

.modal-title { 
    font-family: $secondary-text;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  //color:$orange;  
  transition: all 0.5s ease 0s;
  text-decoration: none;

}

.modal-dialog-centered::before {
    display: initial !important;
    height: calc(100vh - 1rem);
    content: "";
  }

.info-screen { background-color: $pri-brand !important; color:#fff}
// .info-screen-header-border { border-bottom: 1px solid $navbg-color;}
// .info-screen-footer-border { border-top: 1px solid $navbg-color;}

.info-screen-border-seperation { border-top: 1px solid $navbg-color;}

/*----added by Abhijeet---*/
.info-popup-backdrop {
  z-index: 1051
}
.info-popup-modal {
  z-index: 1071
}
/*----added by Abhijeet---*/


.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #fff;
  border-radius: $border-radius;
  outline: 0;
}

.custom-modal-footer {
  padding: 0.75rem;
  border-top: 1px solid $gray-500;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);

}


.modal-content {
  background-color: #f4f4f4;
}

.modal.fade .modal-dialog {
 // display: block;
  -webkit-transform: translate(0, 20%);
  -ms-transform: translate(0, 20%);
  -o-transform: translate(0, 20%);
  transform: translate(0, 20%);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}



